.headlines {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  width: 40%;
  background:#F0F0F0;
}

h2 {
  padding: .5rem;
  font-size: 1.5rem;
  font-weight: 600;
}

button {
  border: none;
  padding: .5rem 1rem;
  margin: 0;
  text-decoration: none;
  background: transparent;
  color: #000000;
  font-family: sans-serif;
  font-size: 1.2rem;
  cursor: pointer;
  text-align: left;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: #D0D0D0;
}

@media screen and (max-width: 750px) {
  .headlines {
    width: 95vw;
  }
}